[flake8]
ignore =
       # Missing docstring in somewhere
       D10,
       # module level import not at top of file
       E402,
       # imported but unused
       F401,
       # import * used; unable to detect undefined names
       F403,
       # First line should be in imperative mood
       D401
exclude =
	Dockerfile*,
        uwsgi.ini,
        .gitignore,
        base/xform.py,
        .flake8,
	*.sql,
        *.yml,
        *.docx,
        *.txt,
        requirements.txt,
        *.html,
        *.js,
        *.css, 
        *.jpg,
        *.png,
	sit/tests/*
