click==6.7
coverage==4.3.4
Flask==0.12
gevent==1.2.1
greenlet==0.4.12
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
py==1.4.32
pycrypto==2.6.1
pytest==3.0.6
pytest-cov==2.4.0
redis==2.10.5
requests==2.13.0
SQLAlchemy==1.1.5
uWSGI==2.0.14
Werkzeug==0.11.15
https://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-2.1.5.tar.gz
#http://ftp.ntu.edu.tw/MySQL/Downloads/Connector-Python/mysql-connector-python-2.1.5.tar.gz
